// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.atom-score { }

.atom-score-panel {
  background-color: @overlay-background-color;
  color: @text-color;
  font-size: 12pt;
  font-family: monospace;
  padding: 5px 0 15px 0;
}

.atom-score-pellet {
  background-color: @background-color-selected;
  margin: 0px 5px;
  padding: 3px;
  border-width: 1px;
  border-style: ridge;
  border-radius: 9px;
  border-color: @pane-item-border-color;
}

.atom-score-panel-label {
  .atom-score-pellet();
  float: right;
}

.atom-score-panel-title {
  .atom-score-pellet();
  margin: 0px 5px;
  display: none;
}

.atom-score-panel-score-container {
  .atom-score-panel-label();
}

.title {
  padding-right: 6px;
  border-width: 0px 1px 0px 0px;
  border-style: solid;
  border-color: grey;
  border-radius: 9px;
}

.atom-score-panel-score-title {
  .title();
}

.atom-score-panel-apm-container {
  .atom-score-panel-label();
}

.atom-score-panel-apm-title {
  .title();
}

.atom-score-panel-recent-score {
  .atom-score-panel-label();
}

.atom-score-panel-commands {
  //margin: 0px 5px;
  color: @text-color-info;
  background-image: linear-gradient(to right, @app-background-color, @overlay-background-color 40%);

  &.increasing {
    color: @text-color-success;
  }

  &.decreasing {
    color: @text-color-error;
  }
}
