// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.atom-score { }

.atom-score-panel {
  padding: 5px;
  background-color: @overlay-background-color;
  color: @text-color;
  font-size: 12pt;
  font-family: monospace;
}

.atom-score-pellet {
  background-color: @background-color-selected;
  margin: 0px 5px;
  padding: 1px 5px;
  border-width: 1px;
  border-style: inset;
  border-radius: 9px;
  border-color: @pane-item-border-color;
}

.atom-score-panel-label {
  .atom-score-pellet();
  float: right;
}

.atom-score-panel-title {
  .atom-score-pellet();
  margin: 0px 5px;
  display: none;
}

.atom-score-panel-score-container {
  .atom-score-panel-label();
}

.atom-score-panel-score-title {
  padding-right: 6px;
  border-width: 0px 4px 0px 0px;
  border-style: solid;
  border-color: @pane-item-border-color;
  border-radius: 10px;
}

.atom-score-panel-apm {
  .atom-score-panel-label();
}

.atom-score-panel-recent-score {
  .atom-score-panel-label();
}

.atom-score-panel-commands {
  margin: 0px 5px;
  color: @text-color-info;

  &.increasing {
    color: @text-color-info;
  }

  &.decreasing {
    color: @text-color-info;
  }
}
