// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.atom-score { }

.atom-score-panel {
  padding: 5px;
  background-color: @base-background-color;
  color: lighten(grey, 20);
  font-size: 12pt;
  font-family: monospace;
}

.atom-score-panel-title {
  margin: 0px 5px;
}

.atom-score-panel-score {
  float: right;
  margin: 0px 5px;
}

.atom-score-panel-apm {
  float: right;
  margin: 0px 5px;
}

.atom-score-panel-recent-score {
  float: right;
  margin: 0px 3px;
}

.atom-score-panel-commands {
  margin: 0px 5px;
  color: yellow;

  &.increasing {
    color: green;
  }

  &.decreasing {
    color: red;
  }
}
